<div [ngClass]="hiddenCharacterForm && hiddenBioForm ? 'bio-main' : 'bio-main-overlay'">
  <div class="bio-header">
    <div class="avatar"></div>
    <div (click)="toggleCharacterForm()">
      <h1>{{BioCardComponent.character.firstName}} {{BioCardComponent.character.lastName}}</h1>
      <h3>{{BioCardComponent.character.subtitle}}</h3>
    </div>
  </div>
  <div (click)="toggleBioForm()">
    <h2>My bio</h2>
    <p>
      {{BioCardComponent.character.bio}}
    </p>
  </div>
</div>
<app-character-form [hidden]="hiddenCharacterForm"></app-character-form>
<app-bio-form [hidden]="hiddenBioForm"></app-bio-form>
