<div class="bio-main">
  <div class="bio-header">
    <div class="avatar"></div>
    <div>
      <h1>Clark Kent</h1>
      <h3>Definitely NOT Superman</h3>
    </div>
  </div>
  <div class="bio-content">
    <h2>My bio</h2>
    <p>
      I'm a mild-mannered reporter working for the Daily Bugle. There is nothing
      interesting about me. Nope, nothing out of the ordinary. Just a regular,
      white collar type of guy. A bit on the scrawny side if I've being honest,
      but I've been working out lately to put on a few pounds. When I'm not
      chasing down a scoop I like to curl up with a good book, take a leisurely
      stroll, and generally avoid any and all confrontation.
    </p>
  </div>
</div>
