.mat-card {
  position: fixed;
  top: 200px;
  left: 35%;
  z-index: 500;
  width: 350px;
  padding: 35px;
  .close-icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  mat-card-header {
    margin-bottom: 20px;
  }
  mat-card-content {
    display: flex;
    flex-direction: column;
    button {
      width: 120px;
      align-self: flex-end;
    }
  }
}
