<mat-card class="mat-card">
  <div class="close-icon">
    <img src="../../assets/close-black-18dp.svg" alt="close-icon" />
  </div>
  <mat-card-header>
    <mat-card-title>Edit your bio:</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content">
    <mat-form-field appearance="fill">
      <mat-label>Edit...</mat-label>
      <textarea matInput placeholder="John"></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary">OK</button>
  </mat-card-content>
</mat-card>
