<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Edit your details:</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="John" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Doe" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Subtitle</mat-label>
      <input matInput placeholder="Definitely NOT Superman" />
    </mat-form-field>
    <button mat-flat-button color="primary">OK</button>
  </mat-card-content>
</mat-card>
