<div class="form-container" [hidden]="BioFormComponent.hidden">
  <mat-card class="mat-card">
    <div (click)="BioFormComponent.toggleForm()" class="close-icon">
      <img src="../../assets/close-black-18dp.svg" alt="close-icon" />
    </div>
    <mat-card-header>
      <mat-card-title>Edit your bio:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-content">
      <form (ngSubmit)="onSubmit()" #bioForm="ngForm" novalidate>
        <mat-form-field appearance="fill">
          <mat-label>Edit...</mat-label>
          <textarea
            matInput
            placeholder="John"
            [(ngModel)]="BioFormComponent.model.bio"
            matInput
            class="form-control"
            id="bio"
            name="bio"
            #name="ngModel"
          ></textarea>
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          class="submit-btn"
          [disabled]="!bioForm.form.valid"
        >
          Submit
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
